.navigation {
    display: none;

    @include respond-to('large') {
        &--show {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__link {
        display: block;
        font-weight: $font-bold;
        margin: 0 2em;
        
        @include link(
            $secondary-color, 
            $secondary-color, 
            $heading-color, 
            $heading-color
        );

    }

    &__link--space-right {
        margin-right: auto;
    }

    .button--primary {
        width: 6rem;
        padding: 0.7em;
    }
}