.warning {
    $background: hsl(5, 91%, 78%);
    $text-color: hsl(4, 70%, 26%);

    padding: 2em;
    background-color: $background;
    border-radius: $border-radius;
    margin: 1em 0;
    
    &__text {
        color: $text-color;
        text-align: center;
    }
}