// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    background-color: $base-color;
    color: $white;
    text-align: center;
    padding: 1em 0;
    font-weight: $font-bold;
    cursor: pointer;

    &:hover {
        transition: background-color 0.2s ease-in; 
        background-color: adjust-color($base-color, $lightness: 30%);
    }
    
    &--primary {
        width: 10rem;
        border-radius: $border-pill;
    }

    &--flexible {
        width: 100%;
        padding: 1.2em 0;
        border-radius: $border-radius;
    
        @include respond-to('medium') {
            flex: 0 1 18%;
        }

    }

    &--full-width {
        width: 100%;
    }

    &--copied {
        background-color: $base-bg-color;
    }

}