.menu-modal {

    display: none;

    &--show {
        border-radius: $border-radius;
        width: 100%;
        padding: 2em 1em;
        display: block;
        position: absolute;
        top: 50px;
        background-color: $base-bg-color;

        @include respond-to('large') {
            display: none;
        }
    }

    &__link {
        display: block;
        width: 100%;
        text-align: center;
        color: $white;
        font-weight: $font-bold;

        & + & {
            margin-top: 2em;
        }
    }

    &__separator {
        opacity: $line-opacity;
        margin: 2em 0;
    }

    .button {
        margin-top: 1em;
    }
}