.menu-modal {

    display: none;

    &--show {
        border-radius: $border-radius;
        width: 100%;
        padding: 2em 1em;
        display: block;
        position: absolute;
        top: 50px;
        background-color: $base-bg-color;
        animation: slide-in 0.2s linear forwards;

        @include respond-to('large') {
            display: none;
        }
    }

    &--hide {
        animation: slide-out 0.2s linear forwards;
    }

    &__link {
        display: block;
        width: 100%;
        text-align: center;
        color: $white;
        font-weight: $font-bold;

        & + & {
            margin-top: 2em;
        }
    }

    &__separator {
        opacity: $line-opacity;
        margin: 2em 0;
    }

    .button {
        margin-top: 1em;
    }
}

@keyframes slide-in {

    0% {
        opacity: 0.3;
        transform: translateY(-60px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(-20px);
        
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0.2;
        transform: translateY(-70px);
        
    }

    100% {
        transform: translateY(-99999px);
        opacity: 0;
    }
}