// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
	background-color: $bg-footer-color;
	padding: $container-padding;

	&__info {
		justify-content: space-between;
	}

	&__logo-container {
		text-align: center;
		margin-bottom: 2em;
        
        @include respond-to('large') {
            margin-right: auto;
        }
	}

	&__heading {
		font-weight: $font-bold;
		color: $white;
		font-size: 0.9rem;
		text-align: center;
		margin-bottom: 1em;
        
        @include respond-to('large') {
            text-align: start;
        }
	}

	.list__item {
		font-weight: $font-medium;
		text-align: center;
		color: $secondary-color;
		margin-bottom: 1em;
        
        @include respond-to('large') {
            text-align: start;

        }
    }
    
    .list__link {
        @include link(
            $secondary-color,
            $secondary-color,
            $base-color,
            $secondary-color
        );
    }

	&__info {
        @include respond-to('large') {
            display: flex;
			align-items: flex-start;
        }
	}

	&__medias {
        text-align: center;
        
        @include respond-to('large') {
            margin-left: 4em;
        }
	}

	&__media {
		fill: $white;
		cursor: pointer;

		&:hover {
			@include transition(
				$property: fill,
				$duration: 0.2s,
				$timing: ease-in
			);
			fill: $base-color;
        }
        
        
    }
    
    @include respond-to('large') {
        &__links + &__links {
            margin-left: 4em;
        }
    }
    

	&__media + &__media {
		margin-left: 2em;
	}
}