// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
	width: 100%;
	max-width: map-get($max-widths, 'small');
	@include push--auto;

	@include respond-to('medium') {
		max-width: map-get($max-widths, 'medium');
	}

	@include respond-to('large') {
		max-width: map-get($max-widths, 'large');
	}

	@include respond-to('extra-large') {
		max-width: map-get($max-widths, 'extra-large');
	}
}

.row {
	@include respond-to('large') {
		@include flex-config;
	}
}