// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$white: hsl(0, 0%, 100%);
$base-color: hsl(180, 66%, 49%) !default;
$base-bg-color: hsl(257, 27%, 26%) !default;

$alert-warning-color: hsl(0, 87%, 67%) !default;

$heading-color: hsl(255, 11%, 22%) !default;
$secondary-color: hsl(257, 7%, 63%) !default;
$bg-footer-color: hsl(260, 8%, 14%) !default;
$bg-main-color: hsl(0, 0%, 75%) !default;

$body-copy: 1.125rem !default;

$primary-font: 'Poppins', sans-serif !default;
$font-bold: 700 !default;
$font-medium: 500 !default;

$border-radius: 8px !default;
$border-pill: 10rem !default;

$container-padding: 4em 0;

$line-opacity: 0.2;

$url-spacing: 10em;

$break-points: (
	'small': 640px,
	'medium': 768px,
	'large': 1024px,
	'extra-large': 1280px,
) !default;

$max-widths: (
	'small': 325px,
	'medium': 700px,
	'large': 860px,
	'extra-large': 1240px,
) !default;