// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    @include padding(2em, null, 1em, null);

    @include respond-to('medium') {
        @include padding(2em, null, 7em, null);
    }

	&__container {
		position: relative;
	}

	&__row {        
        @include flex-config($justify-content: space-between);
        
        @include respond-to('large') {
            @include flex-config($justify-content: flex-start);
        }
    }
    
    &__logo {
        display: block;
    }
}

.intro {

    @include margin(2em, null, 2em, null);

	&__row {
		align-items: center;
		justify-content: space-between;
	}

	&__image-container {
        
        @include margin(null, null, 2em, null);

        @include respond-to('large') {
            @include margin(null, null, 0, null);
        }

        @include respond-to('large') {
            order: 10;
        }
    }
    
    &__image {
        display: block;
    }

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10em;
        
        @include respond-to('large') {
            order: 0;
			align-items: flex-start;
			max-width: 40%;
			margin-bottom: 0em;
        }
	}

	&__heading,
	&__details {
		text-align: center;
        
        @include respond-to('large') {
            text-align: left;
        }
	}

	&__heading {
		line-height: 1;
		font-size: 2.75rem;
		font-weight: $font-bold;
        color: $heading-color;
        
        @include respond-to('large') {
			line-height: 1.2;
            
        }
        
        @include respond-to('extra-large') {
            font-size: 4rem;
			line-height: 1.2;
        }
	}

	&__details {
		font-weight: $font-medium;
		color: $secondary-color;
		margin: 1em 0;
		font-size: $body-copy;
	}
}