// --------------------------------------------
//  GRID SYSTEM
// --------------------------------------------

.container {
	width: 100%;
	max-width: map-get($max-widths, 'small');
	@include push--auto;

	@include respond-to('medium') {
		max-width: map-get($max-widths, 'medium');
	}

	@include respond-to('large') {
		max-width: map-get($max-widths, 'large');
	}

	@include respond-to('extra-large') {
		max-width: map-get($max-widths, 'extra-large');
	}
}

.row {
	@include respond-to('large') {
		@include flex-config;
	}
}

// --------------------------------------------
//  HEADER
// --------------------------------------------

.header {
    @include padding(2em, null, 1em, null);

    @include respond-to('medium') {
        @include padding(2em, null, 7em, null);
    }

	&__container {
		position: relative;
	}

	&__row {        
        @include flex-config($justify-content: space-between);
        
        @include respond-to('large') {
            @include flex-config($justify-content: flex-start);
        }
    }
    
    &__logo {
        display: block;
    }
}

.intro {

    @include margin(2em, null, 2em, null);

	&__row {
		align-items: center;
		justify-content: space-between;
	}

	&__image-container {
        
        @include margin(null, null, 2em, null);

        @include respond-to('large') {
            @include margin(null, null, 0, null);
        }

        @include respond-to('large') {
            order: 10;
        }
    }
    
    &__image {
        display: block;
    }

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10em;
        
        @include respond-to('large') {
            order: 0;
			align-items: flex-start;
			max-width: 40%;
			margin-bottom: 0em;
        }
	}

	&__heading,
	&__details {
		text-align: center;
        
        @include respond-to('large') {
            text-align: left;
        }
	}

	&__heading {
		line-height: 1;
		font-size: 2.75rem;
		font-weight: $font-bold;
        color: $heading-color;
        
        @include respond-to('large') {
			line-height: 1.2;
            
        }
        
        @include respond-to('extra-large') {
            font-size: 4rem;
			line-height: 1.2;
        }
	}

	&__details {
		font-weight: $font-medium;
		color: $secondary-color;
		margin: 1em 0;
		font-size: $body-copy;
	}
}

// --------------------------------------------
//  MAIN
// --------------------------------------------

.main {
	background-color: hsl(230, 25%, 95%);
	padding: $container-padding;
    
    @include respond-to('medium') {
        @include padding(null, null, 8em, null);
    }

	.url {
		transform: translateY(-4em * 2);
	}

	&__header {
		@include margin(3em, null, 5em, null);
	}

	&__heading,
	&__details {
		text-align: center;
	}

	&__heading {
		font-size: 1.5rem;
		font-weight: $font-bold;
		color: $heading-color;
        
        @include respond-to('medium') {
            font-size: 2.25rem;
        }
	}

	&__details {
		font-weight: $font-medium;
		color: $secondary-color;
		margin: 1em 0;
		font-size: $body-copy;
		line-height: 1.7;
        
        @include respond-to('medium') {
            max-width: 40%;
            @include push--auto;
        }
	}
}

// --------------------------------------------
//  SECTION - NEWSLETTER
// --------------------------------------------
.newsletter {
	background-color: $base-bg-color;
	padding: $container-padding;
	background: top right no-repeat $base-bg-color
		url(../images/bg-boost-mobile.svg);
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__heading {
		font-weight: $font-bold;
		color: $white;
		font-size: 1.5rem;
		margin-bottom: 1em;
        
        @include respond-to('medium') {
            font-size: 2rem;
        }

        @include respond-to('large') {
            font-size: 3rem;
        }
	}
    
    @include respond-to('medium') {
        background-image: url(../images/bg-boost-desktop.svg);
        background-size: cover;
    }
}

// --------------------------------------------
//  FOOTER
// --------------------------------------------

.footer {
	background-color: $bg-footer-color;
	padding: $container-padding;

	&__info {
		justify-content: space-between;
	}

	&__logo-container {
		text-align: center;
		margin-bottom: 2em;
        
        @include respond-to('large') {
            margin-right: auto;
        }
	}

	&__heading {
		font-weight: $font-bold;
		color: $white;
		font-size: 0.9rem;
		text-align: center;
		margin-bottom: 1em;
        
        @include respond-to('large') {
            text-align: start;
        }
	}

	.list__item {
		font-weight: $font-medium;
		text-align: center;
		color: $secondary-color;
		margin-bottom: 1em;
        
        @include respond-to('large') {
            text-align: start;

        }
    }
    
    .list__link {
        @include link(
            $secondary-color,
            $secondary-color,
            $base-color,
            $secondary-color
        );
    }

	&__info {
        @include respond-to('large') {
            display: flex;
			align-items: flex-start;
        }
	}

	&__medias {
        text-align: center;
        
        @include respond-to('large') {
            margin-left: 4em;
        }
	}

	&__media {
		fill: $white;
		cursor: pointer;

		&:hover {
			@include transition(
				$property: fill,
				$duration: 0.2s,
				$timing: ease-in
			);
			fill: $base-color;
        }
        
        
    }
    
    @include respond-to('large') {
        &__links + &__links {
            margin-left: 4em;
        }
    }
    

	&__media + &__media {
		margin-left: 2em;
	}
}

// --------------------------------------------
//  CARDS CONTAINER
// --------------------------------------------

.card-components {
    position: relative;
    
    @include respond-to('large') {
        display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
    }

	&::before {
		@include pseudo;
		top: 0px;
		left: calc(100% / 2);
		background-color: $base-color;
		height: 100%;
		width: 7px;
        
        @include respond-to('large') {
            transform: rotate(180deg);
			top: 300px;
			width: 100%;
			height: 7px;
			left: 0;
        }
	}
}
