// --------------------------------------------
//  GRID SYSTEM
// --------------------------------------------

.container {
    width: 100%;
    max-width: 325px;
    margin: 0 auto;

    @media screen and (min-width: map-get($break-points, "medium" )) {
        max-width: 1440px;
    }
}

// .row {
//     display: flex;
// }

// --------------------------------------------
//  HEADER
// --------------------------------------------
.header {
    margin-top: 3em;

    &__row {
        display: flex;
        justify-content: space-between;
    }
}

.intro {

    
    &__image-container {
        margin: 1em 0 2em 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading, 
    &__details {
        text-align: center;
    }

    &__heading {
        line-height: 1;
        font-size: 2.75rem;
        font-weight: $font-bold;
        color: $heading-color;
    }

    &__details {
        font-weight: $font-medium;
        color: $secondary-color;
        margin: 1em 0;
        font-size: $body-copy;
    }

    
}

// --------------------------------------------
//  MAIN
// --------------------------------------------

.main {
    background-color: hsl(230, 25%, 95%);
    margin-top: 5em;
    padding: 0 0 5em 0;
}

// --------------------------------------------
//  SECTION - NEWSLETTER 
// --------------------------------------------
.newsletter {
    background-color: $base-bg-color;
}

// --------------------------------------------
//  FOOTER
// --------------------------------------------
.footer {
    background-color: $bg-footer-color;
}