/*---------------------------------------------------
VARIABLES - CSS
---------------------------------------------------*/
:root {
    // layout
    --desktop-max-width: 1440px;

    // Colors
    --primary-color: hsl(0, 0%, 100%);
    --primary-accent: hsl(180, 66%, 49%);
    --primary-bg: hsl(257, 27%, 26%);

    --secondary-alert: hsl(0, 87%, 67%);

    --neutral-body-text: hsl(0, 0%, 75%);
    // fix naming later
    --neutral-gray-violet:  hsl(257, 7%, 63%);
    --neutral-very-dark-blue: hsl(255, 11%, 22%);
    --neutral-dark-violet:  hsl(260, 8%, 14%);

    // font
    --primary-font: 'Poppins', sans-serif;
    --font-bold: 700;
    --font-medium: 500;
    --font-body-size: 1.125rem;
}

/*---------------------------------------------------
VARIABLES - SCSS
---------------------------------------------------*/

/*---------------------------------------------------
MIXINS
---------------------------------------------------*/

@mixin spaced-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
}


/*---------------------------------------------------
BASIC STYLING
---------------------------------------------------*/
html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    text-align: center;

    @media screen and (min-width: 760px) {
        h1, h2, h3, h4 {
            text-align: left;
        }
    }
}

p {
    font-size: var(--font-body-size);
    color: var(--neutral-gray-violet);
    font-weight: var(--font-medium);
    text-align: center;

    @media screen and (min-width: 760px) {
        & {
            text-align: left;
        }
    }
}
