/*---------------------------------------------------
HERO
---------------------------------------------------*/
.hero {

    &__title {
        font-size: 2.5rem;
        line-height: 40px;
        font-weight: var(--font-bold);
        color: var(--neutral-dark-violet);
        margin: 0;

        @media screen and (min-width: 760px){
            text-align: left;
            font-size: 3rem;
            line-height: 60px;
        }

        @media screen and (min-width: 1040px){
            text-align: left;
            font-size: 5rem;
            line-height: 90px;
        }
    }
    
    &__text {
        margin: 0.5em 0 1.5em 0;

        @media screen and (min-width: 760px){
            text-align: left;
            font-size: 1.25rem;
        }
    }   

    &__nav-bar {
        position: relative;
    }

    &__nav-menu {
        position: absolute;
        top: 50px;
        background-color: var(--primary-bg);
        padding: 2em 1em;
        border-radius: var(--border-radius);
        display: none;

        &--show {
            display: block;
        }

        @media screen and (min-width: 760px){
            display: none;
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        color: var(--primary-color);
        font-weight: var(--font-bold);
        text-align: center;

        & + & {
            margin-top: 2em;
        }

        &--login {
            border-top: 1px solid  hsla(0, 0%, 75%, 0.1);
            margin-bottom: 2em;
            padding-top: 2em;
        }
    }

}

/*---------------------------------------------------
URL SHORTENER
---------------------------------------------------*/

.url-shortener {
    background-color: var(--primary-bg);
    padding: 1.8em;
    position: relative;
    top: -65px;
    margin-top: 7em;
    border-radius: var(--border-radius);
    background-image: url(../images/bg-shorten-mobile.svg);
    background-position: top right;
    background-repeat: no-repeat;


    @media screen and (min-width: 760px){
        background-image: url(../images/bg-shorten-desktop.svg);
        background-size: cover;
        padding: 2.5em;
    }

    .button {
        padding: 0;
        font-size: 1rem;
        height: 3rem;
    }


    @include spaced-center;
    flex-wrap: wrap;

    &__blob {
        z-index: 10;
        position: absolute;
    }

    &__text-alert {
        font-style: italic;
        color: var(--secondary-alert);
        margin: 0;
        font-size: 0.9rem;
        width: 100%;
        text-align: left;
        margin-top: 0.5em;
        display: none;

        &--show {
            display: block;
        }

        @media screen and (min-width: 760px){
            position: absolute;
            top: 87px;
        }
    }

    &__input {
        font-size: 0.95rem;
        padding: .85em 1em;
        border-radius: var(--border-radius);
        border: none;
        height: 3rem;
        flex: 1 2 80%;

        &--alert {
            border: 3px solid var(--secondary-alert);

            &::placeholder-shown {
                color: var(--secondary-alert);
            }
        }

        @media screen and (min-width: 760px){
            margin-bottom: 0;
            height: 3rem;
        }

        &::placeholder {
            font-weight: var(--font-bold);
            color: var(--neutral-gray-violet);
        }
    }
}

/*---------------------------------------------------
Link Shortened
---------------------------------------------------*/
.link {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 1em;
    position: relative;

    @media screen and (min-width: 760px){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & + & {
        margin-top: 1em;
    }

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color:hsl(225, 33%, 95%);
        top: 50px;
        left: 0;

        @media screen and (min-width: 760px){
            display: none;
        }
    }


    &__original-link,
    &__shortened {
        text-align: left;
        font-size: 1.1rem;

        @media screen and (min-width: 760px){
            margin: 0;
        }
    }

    .button {
        width: 100%;
        border-radius: var(--border-radius);

        &--copied {
            background-color: var(--primary-bg);
        }

        @media screen and (min-width: 760px){
            max-width: 10em;
            margin-right: 0;
        }
    }

    &__original-link {
        margin-top: 0;
        margin-right: auto;
        color: var(--neutral-dark-violet);
    }

    &__shortened {
        color: var(--primary-accent);

        @media screen and (min-width: 760px){
            margin-right: 1em;
        }

    }
}

/*---------------------------------------------------
MAIN INFO
---------------------------------------------------*/
.main {

    &__title {
        font-size: 1.8rem;
        margin-bottom: 0;
        margin-top: 4em;

        @media screen and (min-width: 1040px){
            font-size: 2rem;
        }
    }

    &__text {
        font-weight: var(--font-medium);
        font-size: 1rem;
        margin: 0.7em auto 5em auto;
        text-align: center;
        
        @media screen and (min-width: 760px){
            max-width: 50%;
        }
    }
}

/*---------------------------------------------------
CARD
---------------------------------------------------*/
.card {
    position: relative;
    z-index: 10;
    background: var(--primary-color);
    padding: 2em 1.5em;
    // height: 18rem;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 760px){

        &--middle {
            margin-top: 3em;
        }

        &--last {
            margin-top: 6em;
        }
    }

    @media screen and (min-width: 760px){
        flex-direction: row;
        align-items: flex-start;
    }
    
    &__img {
        position: absolute;
        top: -40px;
        background-color: var(--primary-bg);
        border-radius: 50%;
        padding: 1em 1em;
    }

    &__title {
        margin-top: 2em;
        font-size: 1.4rem;
        margin-bottom: 0;

        @media screen and (min-width: 760px){
            font-size: 1.5rem;
        }
    }

    &__text {
        font-weight: var(--font-medium);
        font-size: 0.9rem;
        margin-top: 0.7em;
        line-height: 26px;

        @media screen and (min-width: 760px){
            font-size: 1rem;
        }
    }
}

.main .row {
    position: relative;
}

.col--bar::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: 0;
    width: 200%;
    background-color: var(--primary-accent);
    height: 10px;
    transform: rotate(90deg);
    left: -160px;
    top: 480px;

    @media screen and (min-width: 760px){
        width: 100%;
        transform: rotate(0deg);
        left: 0;
        top: 130px;
    }
}

/*---------------------------------------------------
BUTTON
---------------------------------------------------*/
.button {
    
    border: none;
    border-radius: 6rem;
    padding: .85em 2em;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: hsl(180, 86%, 86%);
    }

    &__primary {
        font-size: 1rem;
        color: var(--primary-color);
        background-color: var(--primary-accent);
        font-weight: var(--font-bold);
    }

    @media screen and (min-width: 760px){
        margin: 0 auto 0 0;

        &--banner {
            margin: 0 auto;

        }
    }
    

    &--shorten {
        border-radius: var(--border-radius);
        flex: 1 2 10%;
        margin-top: 1em;
        
        @media screen and (min-width: 760px){
            margin-left: 1em;
            padding: 1em 2em;
            margin-top: 0em;

        }
    }

    &--signing-up {
        width: 100%;
    }
}

