/*---------------------------------------------------
HERO
---------------------------------------------------*/
.hero {

    &__title {
        font-size: 2.5rem;
        line-height: 40px;
        font-weight: var(--font-bold);
        color: var(--neutral-dark-violet);
        margin: 0;
    }
    
    &__text {
        margin: 0.5em 0 1.5em 0;

    }   

}

/*---------------------------------------------------
BUTTON
---------------------------------------------------*/
.button {
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-accent);
    font-weight: var(--font-bold);
    border: none;
    border-radius: 6rem;
    padding: .75em 1.5em;
    margin: 0 auto;

    &--shorten {
        border-radius: 4px;
    }
}