/*---------------------------------------------------
CONTAINER
---------------------------------------------------*/
.container {
    margin: 0 auto;
    width: 85%;
    max-width: var(--desktop-max-width);
}

/*---------------------------------------------------
ROW
---------------------------------------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
}

// .col + .col {
//     margin-left: 3em;
// }

/*---------------------------------------------------
HEADER
---------------------------------------------------*/
.hero {
    margin-top: 2em;

    &__nav-bar {
        @include spaced-center;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2em 0 4em 0;
    }
}

/*---------------------------------------------------
MAIN
---------------------------------------------------*/

/*---------------------------------------------------
SECTION
---------------------------------------------------*/

/*---------------------------------------------------
FOOTER
---------------------------------------------------*/


.hero__image {
    width: 100%;
}