/*---------------------------------------------------
CONTAINER
---------------------------------------------------*/
.container {
    margin: 0 auto;
    width: 85%;
    max-width: var(--desktop-max-width);
}

/*---------------------------------------------------
ROW
---------------------------------------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
}

// .col + .col {
//     margin-left: 3em;
// }

/*---------------------------------------------------
HEADER
---------------------------------------------------*/
.hero {
    margin-top: 2em;

    &__image {
        width: 100%;
    }

    @media screen and (min-width: 760px){
        &__image {
            margin-left: 7em;
        }

        &__menu {
            display: none;
        }
    
        .row {
            align-items: center;
        }
        
        .col {
            flex: 1 0 0;
    
            &--image {
                order: 20;
            }
    
            &--content {
                order: 10;
            }
        }
    }

    


    &__nav-bar {
        @include spaced-center;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2em 0 2em 0;

        
    }
}

/*---------------------------------------------------
MAIN
---------------------------------------------------*/
.main {
    background-color: hsl(225, 33%, 95%);
    padding: 0 0 5em 0;
    margin-top: 6em;

    .col + .col {
        margin-top: 6em;
    }

    @media screen and (min-width: 760px){
        .col {
            flex: 1 0 0;
            margin-top: 0em !important;
        }

        .col + .col {
            margin-left: 2em;
        }
    }

}

/*---------------------------------------------------
SECTION
---------------------------------------------------*/
.banner {
    background-color: var(--primary-bg);
    position: relative;
    background-image: url(../images/bg-boost-mobile.svg);
    background-size: cover;
    background-position: 120% right;
    background-repeat: no-repeat;
    padding: 5em 0;

    @media screen and (min-width: 760px){
        background-image: url(../images/bg-boost-desktop.svg);
        padding: 4em;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        color: var(--primary-color);
    }
}

/*---------------------------------------------------
FOOTER
---------------------------------------------------*/
.footer {
    background-color: var(--neutral-dark-violet);
    padding: 3em 0;

    .logo {
        margin-bottom: 2em;

        @media screen and (min-width: 760px){
            margin-right: 10em;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 760px){
            flex-direction: row;
            align-items: flex-start;

        }
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 760px){
            flex-direction: row;
            align-items: flex-start;
        }
    }

    .col--media {
        display: flex;
        width: 100%;
        margin-top: 2em;
        justify-content: space-evenly;

        @media screen and (min-width: 760px){
            width: auto;
            align-items: center;
            margin-top: 0;

            .footer__media + .footer__media {
                margin-left: 1em;
            }

        }
    }

    &__title {
        color: var(--primary-color);

        @media screen and (min-width: 760px){
            text-align: left;
            margin-top: 0;
        }
    }

    &__links {
        font-size: 0.9rem;
        color: var(--neutral-body-text);
        font-weight: var(--font-medium);
        display: inline-block;
        width: 100%;
        text-align: center;

        @media screen and (min-width: 760px){
            text-align: left;
        }

        & + & {
            margin-top: 1em;
        }
    }
}
