/*---------------------------------------------------
VARIABLES - CSS
---------------------------------------------------*/
:root {
  --desktop-max-width: 1440px;
  --primary-color: hsl(0, 0%, 100%);
  --primary-accent: hsl(180, 66%, 49%);
  --primary-bg: hsl(257, 27%, 26%);
  --secondary-alert: hsl(0, 87%, 67%);
  --neutral-body-text: hsl(0, 0%, 75%);
  --neutral-gray-violet:  hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet:  hsl(260, 8%, 14%);
  --primary-font: 'Poppins', sans-serif;
  --font-bold: 700;
  --font-medium: 500;
  --font-body-size: 1.125rem;
}

/*---------------------------------------------------
VARIABLES - SCSS
---------------------------------------------------*/
/*---------------------------------------------------
MIXINS
---------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------------------------
BASIC STYLING
---------------------------------------------------*/
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  text-align: center;
}

@media screen and (min-width: 760px) {
  h1 h1, h1 h2, h1 h3, h1 h4, h2 h1, h2 h2, h2 h3, h2 h4, h3 h1, h3 h2, h3 h3, h3 h4, h4 h1, h4 h2, h4 h3, h4 h4 {
    text-align: left;
  }
}

p {
  font-size: var(--font-body-size);
  color: var(--neutral-gray-violet);
  font-weight: var(--font-medium);
  text-align: center;
}

@media screen and (min-width: 760px) {
  p {
    text-align: left;
  }
}

/*---------------------------------------------------
CONTAINER
---------------------------------------------------*/
.container {
  margin: 0 auto;
  width: 85%;
  max-width: var(--desktop-max-width);
}

/*---------------------------------------------------
ROW
---------------------------------------------------*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*---------------------------------------------------
HEADER
---------------------------------------------------*/
.hero {
  margin-top: 2em;
}

.hero__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0 4em 0;
}

/*---------------------------------------------------
MAIN
---------------------------------------------------*/
/*---------------------------------------------------
SECTION
---------------------------------------------------*/
/*---------------------------------------------------
FOOTER
---------------------------------------------------*/
.hero__image {
  width: 100%;
}

/*---------------------------------------------------
HERO
---------------------------------------------------*/
.hero__title {
  font-size: 2.5rem;
  line-height: 40px;
  font-weight: var(--font-bold);
  color: var(--neutral-dark-violet);
  margin: 0;
}

.hero__text {
  margin: 0.5em 0 1.5em 0;
}

/*---------------------------------------------------
URL SHORTENER
---------------------------------------------------*/
.url-shortener {
  background-color: var(--primary-bg);
  position: relative;
  padding: 1.8em;
  border-radius: 7px;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 760px) {
  .url-shortener {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
  }
}

.url-shortener__blob {
  z-index: 10;
  position: absolute;
}

.url-shortener__input {
  padding: .85em 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 80%;
          flex: 1 2 80%;
}

@media screen and (min-width: 760px) {
  .url-shortener__input {
    margin-bottom: 0;
  }
}

.url-shortener__input::-webkit-input-placeholder {
  font-weight: var(--font-bold);
  color: var(--neutral-gray-violet);
}

.url-shortener__input:-ms-input-placeholder {
  font-weight: var(--font-bold);
  color: var(--neutral-gray-violet);
}

.url-shortener__input::-ms-input-placeholder {
  font-weight: var(--font-bold);
  color: var(--neutral-gray-violet);
}

.url-shortener__input::placeholder {
  font-weight: var(--font-bold);
  color: var(--neutral-gray-violet);
}

/*---------------------------------------------------
BUTTON
---------------------------------------------------*/
.button {
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--primary-accent);
  font-weight: var(--font-bold);
  border: none;
  border-radius: 6rem;
  padding: .75em 1.5em;
  margin: 0 auto;
}

.button--shorten {
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 10%;
          flex: 1 2 10%;
}

@media screen and (min-width: 760px) {
  .button--shorten {
    margin-left: 1em;
  }
}
/*# sourceMappingURL=index.css.map */